body {
  font-family: Arial;
  background: #ff0000;
}
h1 {font-weight: bolder;}
.container {
  width: 80%;
  margin: auto;
}

form {
  background: rgb(45, 140, 113);
  padding: 10px;
  margin-bottom: 20px;
}

.routine-sections {
  display: flex;
  gap: 10px;
}

.routine-box {
  background: white;
  padding: 10px;
  flex: 1;
}

li {
  margin: 5px 0;
}

button {
  margin-left: 5px;
}